:root {
    --bui_color_black: #000;
    --bui_color_white: #fff;
    --bui_color_border: #949494;
    --bui_color_border_alt: #e7e7e7;
    --bui_color_accent_border: #febb02;
    --bui_color_action_border: #0071c2;
    --bui_color_callout_border: #ff8000;
    --bui_color_border_disabled: #d9d9d9;
    --bui_color_destructive_border: #c00;
    --bui_color_constructive_border: #008009;
    --bui_color_background: #494949;
    --bui_color_transparent: transparent;
    --bui_color_background_alt: #f2f2f2;
    --bui_color_cta_background: #0071c2;
    --bui_color_background_base: #fff;
    --bui_color_black_with_alpha: rgba(0, 0, 0, 0.5);
    --bui_color_accent_background: #febb02;
    --bui_color_action_background: #0071c2;
    --bui_color_callout_background: #ff8000;
    --bui_color_background_base_alt: #f2f2f2;
    --bui_color_background_disabled: #d9d9d9;
    --bui_color_background_inverted: #171717;
    --bui_color_accent_background_alt: #fdf4d8;
    --bui_color_action_background_alt: #e4f4ff;
    --bui_color_callout_background_alt: #fff0e0;
    --bui_color_destructive_background: #c00;
    --bui_color_background_disabled_alt: #f2f2f2;
    --bui_color_constructive_background: #008009;
    --bui_color_brand_primary_background: #003580;
    --bui_color_destructive_background_alt: #fff0f0;
    --bui_color_constructive_background_alt: #e7fde9;
    --bui_color_brand_genius_primary_background: #004cb8;
    --bui_color_foreground: #262626;
    --bui_color_foreground_alt: #6b6b6b;
    --bui_color_accent_foreground: #8e6601;
    --bui_color_action_foreground: #0071c2;
    --bui_color_callout_foreground: #923e01;
    --bui_color_foreground_disabled: #949494;
    --bui_color_foreground_inverted: #f2f2f2;
    --bui_color_destructive_foreground: #c00;
    --bui_color_constructive_foreground: #008009;
    --bui_color_foreground_disabled_alt: #d9d9d9;
    --bui_color_brand_primary_foreground: #003580;
    --bui_color_action_foreground_inverted: #3daeff;
    --bui_color_brand_genius_secondary_foreground: #febb02;
    --bui_color_highlighted: #cbcbcb;
    --bui_color_action_focus: rgba(0, 113, 194, 0.24);
    --bui_color_cta_highlighted: #00487a;
    --bui_color_highlighted_alt: rgba(0, 0, 0, 0.06);
    --bui_color_destructive_focus: rgba(204, 0, 0, 0.24);
    --bui_color_action_highlighted: #00487a;
    --bui_color_action_highlighted_alt: rgba(0, 113, 194, 0.06);
    --bui_color_destructive_highlighted: #8a0000;
    --bui_color_destructive_highlighted_alt: rgba(204, 0, 0, 0.06);
    --bui_color_on_background: #fff;
    --bui_color_on_cta_background: #fff;
    --bui_color_on_accent_background: #262626;
    --bui_color_on_action_background: #fff;
    --bui_color_on_callout_background: #262626;
    --bui_color_on_destructive_background: #fff;
    --bui_color_on_constructive_background: #fff;
    --bui_color_on_brand_primary_background: #fff;
    --bui_color_on_brand_genius_primary_background: #fff;
    --bui_color_background_elevation_one: #fff;
    --bui_color_background_elevation_two: #fff;
    --bui_color_accent_background_dynamic: #febb02;
    --bui_color_callout_background_dynamic: #ff8000;
    --bui_color_destructive_background_dynamic: #c00;
    --bui_color_constructive_background_dynamic: #008009;
    --bui_color_brand_primary_background_dynamic: #003580;
    --bui_color_on_accent_background_dynamic: #262626;
    --bui_color_on_callout_background_dynamic: #262626;
    --bui_color_on_destructive_background_dynamic: #fff;
    --bui_color_on_constructive_background_dynamic: #fff;
    --bui_color_on_brand_primary_background_dynamic: #fff;
    --bui_shadow_100: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    --bui_shadow_200: 0px 2px 16px 0px rgba(0, 0, 0, 0.24);
    --bui_shadow_300: 0px 4px 16px 0px rgba(0, 0, 0, 0.32);
    --bui_spacing_1x: 4px;
    --bui_spacing_2x: 8px;
    --bui_spacing_3x: 12px;
    --bui_spacing_4x: 16px;
    --bui_spacing_6x: 24px;
    --bui_spacing_8x: 32px;
    --bui_spacing_12x: 48px;
    --bui_spacing_16x: 64px;
    --bui_spacing_24x: 96px;
    --bui_spacing_half: 2px;
    --bui_border_width_100: 1px;
    --bui_border_width_200: 2px;
    --bui_border_radius_100: 2px;
    --bui_border_radius_200: 2px;
    --bui_border_radius_300: 2px;
    --DO_NOT_USE_bui_small_font_body_1_font-size: 16px;
    --DO_NOT_USE_bui_small_font_body_1_font-weight: 400;
    --DO_NOT_USE_bui_small_font_body_1_line-height: 24px;
    --DO_NOT_USE_bui_small_font_body_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_small_font_body_2_font-size: 14px;
    --DO_NOT_USE_bui_small_font_body_2_font-weight: 400;
    --DO_NOT_USE_bui_small_font_body_2_line-height: 20px;
    --DO_NOT_USE_bui_small_font_body_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_small_font_small_1_font-size: 12px;
    --DO_NOT_USE_bui_small_font_small_1_font-weight: 400;
    --DO_NOT_USE_bui_small_font_small_1_line-height: 18px;
    --DO_NOT_USE_bui_small_font_small_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_small_font_small_2_font-size: 10px;
    --DO_NOT_USE_bui_small_font_small_2_font-weight: 500;
    --DO_NOT_USE_bui_small_font_small_2_line-height: 16px;
    --DO_NOT_USE_bui_small_font_small_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_small_font_strong_1_font-size: 16px;
    --DO_NOT_USE_bui_small_font_strong_1_font-weight: 700;
    --DO_NOT_USE_bui_small_font_strong_1_line-height: 24px;
    --DO_NOT_USE_bui_small_font_strong_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_small_font_strong_2_font-size: 14px;
    --DO_NOT_USE_bui_small_font_strong_2_font-weight: 700;
    --DO_NOT_USE_bui_small_font_strong_2_line-height: 20px;
    --DO_NOT_USE_bui_small_font_strong_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_small_font_display_1_font-size: 40px;
    --DO_NOT_USE_bui_small_font_display_1_font-weight: 700;
    --DO_NOT_USE_bui_small_font_display_1_line-height: 52px;
    --DO_NOT_USE_bui_small_font_display_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_small_font_display_2_font-size: 40px;
    --DO_NOT_USE_bui_small_font_display_2_font-weight: 700;
    --DO_NOT_USE_bui_small_font_display_2_line-height: 52px;
    --DO_NOT_USE_bui_small_font_display_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_small_font_display_3_font-size: 30px;
    --DO_NOT_USE_bui_small_font_display_3_font-weight: 700;
    --DO_NOT_USE_bui_small_font_display_3_line-height: 52px;
    --DO_NOT_USE_bui_small_font_display_3_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_small_font_featured_1_font-size: 20px;
    --DO_NOT_USE_bui_small_font_featured_1_font-weight: 400;
    --DO_NOT_USE_bui_small_font_featured_1_line-height: 28px;
    --DO_NOT_USE_bui_small_font_featured_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_small_font_featured_2_font-size: 20px;
    --DO_NOT_USE_bui_small_font_featured_2_font-weight: 400;
    --DO_NOT_USE_bui_small_font_featured_2_line-height: 28px;
    --DO_NOT_USE_bui_small_font_featured_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_small_font_featured_3_font-size: 20px;
    --DO_NOT_USE_bui_small_font_featured_3_font-weight: 400;
    --DO_NOT_USE_bui_small_font_featured_3_line-height: 28px;
    --DO_NOT_USE_bui_small_font_featured_3_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_small_font_headline_1_font-size: 32px;
    --DO_NOT_USE_bui_small_font_headline_1_font-weight: 700;
    --DO_NOT_USE_bui_small_font_headline_1_line-height: 40px;
    --DO_NOT_USE_bui_small_font_headline_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_small_font_headline_2_font-size: 24px;
    --DO_NOT_USE_bui_small_font_headline_2_font-weight: 700;
    --DO_NOT_USE_bui_small_font_headline_2_line-height: 32px;
    --DO_NOT_USE_bui_small_font_headline_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_small_font_headline_3_font-size: 20px;
    --DO_NOT_USE_bui_small_font_headline_3_font-weight: 700;
    --DO_NOT_USE_bui_small_font_headline_3_line-height: 28px;
    --DO_NOT_USE_bui_small_font_headline_3_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_small_font_emphasized_1_font-size: 16px;
    --DO_NOT_USE_bui_small_font_emphasized_1_font-weight: 500;
    --DO_NOT_USE_bui_small_font_emphasized_1_line-height: 24px;
    --DO_NOT_USE_bui_small_font_emphasized_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_small_font_emphasized_2_font-size: 14px;
    --DO_NOT_USE_bui_small_font_emphasized_2_font-weight: 500;
    --DO_NOT_USE_bui_small_font_emphasized_2_line-height: 20px;
    --DO_NOT_USE_bui_small_font_emphasized_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_medium_font_body_1_font-size: 16px;
    --DO_NOT_USE_bui_medium_font_body_1_font-weight: 400;
    --DO_NOT_USE_bui_medium_font_body_1_line-height: 24px;
    --DO_NOT_USE_bui_medium_font_body_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_medium_font_body_2_font-size: 14px;
    --DO_NOT_USE_bui_medium_font_body_2_font-weight: 400;
    --DO_NOT_USE_bui_medium_font_body_2_line-height: 20px;
    --DO_NOT_USE_bui_medium_font_body_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_medium_font_small_1_font-size: 12px;
    --DO_NOT_USE_bui_medium_font_small_1_font-weight: 400;
    --DO_NOT_USE_bui_medium_font_small_1_line-height: 18px;
    --DO_NOT_USE_bui_medium_font_small_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_medium_font_small_2_font-size: 12px;
    --DO_NOT_USE_bui_medium_font_small_2_font-weight: 500;
    --DO_NOT_USE_bui_medium_font_small_2_line-height: 18px;
    --DO_NOT_USE_bui_medium_font_small_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_medium_font_strong_1_font-size: 16px;
    --DO_NOT_USE_bui_medium_font_strong_1_font-weight: 700;
    --DO_NOT_USE_bui_medium_font_strong_1_line-height: 24px;
    --DO_NOT_USE_bui_medium_font_strong_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_medium_font_strong_2_font-size: 14px;
    --DO_NOT_USE_bui_medium_font_strong_2_font-weight: 700;
    --DO_NOT_USE_bui_medium_font_strong_2_line-height: 20px;
    --DO_NOT_USE_bui_medium_font_strong_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_medium_font_display_1_font-size: 64px;
    --DO_NOT_USE_bui_medium_font_display_1_font-weight: 700;
    --DO_NOT_USE_bui_medium_font_display_1_line-height: 72px;
    --DO_NOT_USE_bui_medium_font_display_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_medium_font_display_2_font-size: 64px;
    --DO_NOT_USE_bui_medium_font_display_2_font-weight: 700;
    --DO_NOT_USE_bui_medium_font_display_2_line-height: 72px;
    --DO_NOT_USE_bui_medium_font_display_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_medium_font_display_3_font-size: 48px;
    --DO_NOT_USE_bui_medium_font_display_3_font-weight: 700;
    --DO_NOT_USE_bui_medium_font_display_3_line-height: 62px;
    --DO_NOT_USE_bui_medium_font_display_3_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_medium_font_featured_1_font-size: 32px;
    --DO_NOT_USE_bui_medium_font_featured_1_font-weight: 400;
    --DO_NOT_USE_bui_medium_font_featured_1_line-height: 40px;
    --DO_NOT_USE_bui_medium_font_featured_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_medium_font_featured_2_font-size: 24px;
    --DO_NOT_USE_bui_medium_font_featured_2_font-weight: 400;
    --DO_NOT_USE_bui_medium_font_featured_2_line-height: 32px;
    --DO_NOT_USE_bui_medium_font_featured_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_medium_font_featured_3_font-size: 20px;
    --DO_NOT_USE_bui_medium_font_featured_3_font-weight: 400;
    --DO_NOT_USE_bui_medium_font_featured_3_line-height: 28px;
    --DO_NOT_USE_bui_medium_font_featured_3_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_medium_font_headline_1_font-size: 32px;
    --DO_NOT_USE_bui_medium_font_headline_1_font-weight: 700;
    --DO_NOT_USE_bui_medium_font_headline_1_line-height: 40px;
    --DO_NOT_USE_bui_medium_font_headline_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_medium_font_headline_2_font-size: 24px;
    --DO_NOT_USE_bui_medium_font_headline_2_font-weight: 700;
    --DO_NOT_USE_bui_medium_font_headline_2_line-height: 32px;
    --DO_NOT_USE_bui_medium_font_headline_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_medium_font_headline_3_font-size: 20px;
    --DO_NOT_USE_bui_medium_font_headline_3_font-weight: 700;
    --DO_NOT_USE_bui_medium_font_headline_3_line-height: 28px;
    --DO_NOT_USE_bui_medium_font_headline_3_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_medium_font_emphasized_1_font-size: 16px;
    --DO_NOT_USE_bui_medium_font_emphasized_1_font-weight: 500;
    --DO_NOT_USE_bui_medium_font_emphasized_1_line-height: 24px;
    --DO_NOT_USE_bui_medium_font_emphasized_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_medium_font_emphasized_2_font-size: 14px;
    --DO_NOT_USE_bui_medium_font_emphasized_2_font-weight: 500;
    --DO_NOT_USE_bui_medium_font_emphasized_2_line-height: 20px;
    --DO_NOT_USE_bui_medium_font_emphasized_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_large_font_body_1_font-size: 16px;
    --DO_NOT_USE_bui_large_font_body_1_font-weight: 400;
    --DO_NOT_USE_bui_large_font_body_1_line-height: 24px;
    --DO_NOT_USE_bui_large_font_body_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_large_font_body_2_font-size: 14px;
    --DO_NOT_USE_bui_large_font_body_2_font-weight: 400;
    --DO_NOT_USE_bui_large_font_body_2_line-height: 20px;
    --DO_NOT_USE_bui_large_font_body_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_large_font_small_1_font-size: 12px;
    --DO_NOT_USE_bui_large_font_small_1_font-weight: 400;
    --DO_NOT_USE_bui_large_font_small_1_line-height: 18px;
    --DO_NOT_USE_bui_large_font_small_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_large_font_small_2_font-size: 12px;
    --DO_NOT_USE_bui_large_font_small_2_font-weight: 500;
    --DO_NOT_USE_bui_large_font_small_2_line-height: 18px;
    --DO_NOT_USE_bui_large_font_small_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_large_font_strong_1_font-size: 16px;
    --DO_NOT_USE_bui_large_font_strong_1_font-weight: 700;
    --DO_NOT_USE_bui_large_font_strong_1_line-height: 24px;
    --DO_NOT_USE_bui_large_font_strong_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_large_font_strong_2_font-size: 14px;
    --DO_NOT_USE_bui_large_font_strong_2_font-weight: 700;
    --DO_NOT_USE_bui_large_font_strong_2_line-height: 20px;
    --DO_NOT_USE_bui_large_font_strong_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_large_font_display_1_font-size: 96px;
    --DO_NOT_USE_bui_large_font_display_1_font-weight: 700;
    --DO_NOT_USE_bui_large_font_display_1_line-height: 108px;
    --DO_NOT_USE_bui_large_font_display_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_large_font_display_2_font-size: 64px;
    --DO_NOT_USE_bui_large_font_display_2_font-weight: 700;
    --DO_NOT_USE_bui_large_font_display_2_line-height: 72px;
    --DO_NOT_USE_bui_large_font_display_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_large_font_display_3_font-size: 48px;
    --DO_NOT_USE_bui_large_font_display_3_font-weight: 700;
    --DO_NOT_USE_bui_large_font_display_3_line-height: 62px;
    --DO_NOT_USE_bui_large_font_display_3_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_large_font_featured_1_font-size: 32px;
    --DO_NOT_USE_bui_large_font_featured_1_font-weight: 400;
    --DO_NOT_USE_bui_large_font_featured_1_line-height: 40px;
    --DO_NOT_USE_bui_large_font_featured_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_large_font_featured_2_font-size: 24px;
    --DO_NOT_USE_bui_large_font_featured_2_font-weight: 400;
    --DO_NOT_USE_bui_large_font_featured_2_line-height: 32px;
    --DO_NOT_USE_bui_large_font_featured_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_large_font_featured_3_font-size: 20px;
    --DO_NOT_USE_bui_large_font_featured_3_font-weight: 400;
    --DO_NOT_USE_bui_large_font_featured_3_line-height: 28px;
    --DO_NOT_USE_bui_large_font_featured_3_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_large_font_headline_1_font-size: 32px;
    --DO_NOT_USE_bui_large_font_headline_1_font-weight: 700;
    --DO_NOT_USE_bui_large_font_headline_1_line-height: 40px;
    --DO_NOT_USE_bui_large_font_headline_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_large_font_headline_2_font-size: 24px;
    --DO_NOT_USE_bui_large_font_headline_2_font-weight: 700;
    --DO_NOT_USE_bui_large_font_headline_2_line-height: 32px;
    --DO_NOT_USE_bui_large_font_headline_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_large_font_headline_3_font-size: 20px;
    --DO_NOT_USE_bui_large_font_headline_3_font-weight: 700;
    --DO_NOT_USE_bui_large_font_headline_3_line-height: 28px;
    --DO_NOT_USE_bui_large_font_headline_3_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_large_font_emphasized_1_font-size: 16px;
    --DO_NOT_USE_bui_large_font_emphasized_1_font-weight: 500;
    --DO_NOT_USE_bui_large_font_emphasized_1_line-height: 24px;
    --DO_NOT_USE_bui_large_font_emphasized_1_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    --DO_NOT_USE_bui_large_font_emphasized_2_font-size: 14px;
    --DO_NOT_USE_bui_large_font_emphasized_2_font-weight: 500;
    --DO_NOT_USE_bui_large_font_emphasized_2_line-height: 20px;
    --DO_NOT_USE_bui_large_font_emphasized_2_font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

main {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
}

.navigation {
    background-color: transparent !important;
    padding: 15px 0;
}

.bg-overlay {
    z-index: -1;
    background: linear-gradient(270deg, transparent, rgba(0, 0, 0, .35) 90%);
    top: 0;
    height: 550px;
    left: 0;
    margin: 0 auto;
    max-width: 100vw;
    position: absolute;
    right: 0;
}


.bg-video {
    top: 0;
    height: 550px;
    left: 0;
    margin: 0 auto;
    max-width: 100vw;
    position: absolute;
    right: 0;
    object-fit: cover;
    width: 100%;
    z-index: -2;
}

@media (min-width:1400px) {

    .bg-video,
    .bg-overlay {
        height: 500px;
    }
}

@media (max-width:600px) {
    .bg-video {
        top: 150px;
        height: 400px;
    }
}

.nav-btn {
    padding: 5px !important;
}

.nav-btn:hover {
    padding: 4px !important;
    border: 1px solid white !important;
    background-color: rgba(255, 255, 255, 0.442) !important;
}

.property-btn {
    padding: 3px 10px !important;
    border: 1px solid white;
    font-weight: 600;
}

.property-btn a {
    color: white !important;
}

.auth-btn {
    padding: 3px 10px !important;
    font-weight: 500 !important;
    background-color: white !important;
}

.auth-btn a {
    color: #0071c2 !important;
}

.auth-btn:hover {
    background-color: rgba(255, 255, 255, 0.485) !important;
}

.modal-btn {
    color: white !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    cursor: pointer !important;
    background-color: transparent;
    border: none;
}

.modal__title {
    font-size: var(--DO_NOT_USE_bui_large_font_headline_3_font-size);
    font-weight: var(--DO_NOT_USE_bui_large_font_headline_3_font-weight);
    line-height: var(--DO_NOT_USE_bui_large_font_headline_3_line-height);
    font-family: var(--DO_NOT_USE_bui_large_font_headline_3_font-family);
    margin: 0 var(--bui_spacing_8x) var(--bui_spacing_2x) 0;
}

.bui_font_strong,
body .bui-f-font-strong,
body .bui_font_strong {
    font-size: var(--DO_NOT_USE_bui_large_font_strong_2_font-size);
    font-weight: var(--DO_NOT_USE_bui_large_font_strong_2_font-weight);
    line-height: var(--DO_NOT_USE_bui_large_font_strong_2_line-height);
    font-family: var(--DO_NOT_USE_bui_large_font_strong_2_font-family);
}

.bui-traveller-header__selection-list .bui-list-item {
    font-weight: normal;
    color: #333;
}

.bui-list-item:hover {
    background-color: var(--bui_color_highlighted_alt);
    cursor: pointer;
    color: black !important;
}


.bui-list-item--size-small {
    padding: var(--bui_spacing_3x);
}

.bui-list-item {
    display: block;
    width: 100%;
    text-align: left;
    outline: 0;
    background: 0;
    border: 0;
    padding: var(--bui_spacing_3x) var(--bui_spacing_4x);
    border-radius: var(--bui_border_radius_100);
    color: var(--bui_color_foreground);
    text-decoration: none;
    font-size: var(--DO_NOT_USE_bui_large_font_body_2_font-size);
    font-weight: var(--DO_NOT_USE_bui_large_font_body_2_font-weight);
    line-height: var(--DO_NOT_USE_bui_large_font_body_2_line-height);
    font-family: var(--DO_NOT_USE_bui_large_font_body_2_font-family);
}

.second-nav {
    margin-top: 20px;
    width: 100%;
    overflow-x: hidden;
}

@media (max-width: 600px) {
    .second-nav {
        overflow-x: scroll !important;
    }
}

.category-btn {
    white-space: nowrap;
    display: flex;
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px 15px;
    margin: 0 5px 0 0;
}

.category-btn:hover {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.195);
    border-radius: 30px;
}

.active-category-btn {
    border: 1px solid white;
    border-radius: 30px;
}

.category-btn span {
    margin-left: 10px;
}

.banner {
    margin: 30px 0;
}

.banner-content {
    margin: auto 0;
    max-width: 60%;
}

@media (max-width: 600px) {
    .banner-content {
        max-width: 100%;
        text-align: center;
    }
}

.offer-time {
    margin-bottom: var(--bui_spacing_2x);
    color: var(--bui_color_white);
    font-family: Avenir Next, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-family: var(--DO_NOT_USE_bui_small_font_featured_2_font-family);
    font-size: var(--DO_NOT_USE_bui_small_font_featured_2_font-size);
    font-weight: var(--DO_NOT_USE_bui_small_font_featured_2_font-weight);
    line-height: var(--DO_NOT_USE_bui_small_font_featured_2_line-height);
}


@media (min-width: 1024px) {
    .offer-time {
        font-family: var(--DO_NOT_USE_bui_large_font_featured_2_font-family);
        font-size: var(--DO_NOT_USE_bui_large_font_featured_2_font-size);
        font-weight: var(--DO_NOT_USE_bui_large_font_featured_2_font-weight);
        line-height: var(--DO_NOT_USE_bui_large_font_featured_2_line-height);
    }
}

.tagline {
    font-family: Avenir Next, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    color: white;
    font-family: var(--DO_NOT_USE_bui_small_font_display_3_font-family);
    font-size: var(--DO_NOT_USE_bui_small_font_display_3_font-size);
    font-weight: var(--DO_NOT_USE_bui_small_font_display_3_font-weight);
    line-height: var(--DO_NOT_USE_bui_small_font_display_3_line-height);
    display: block;
    margin: 0;

}

@media (min-width: 1024px) {
    .tagline {
        font-family: var(--DO_NOT_USE_bui_large_font_display_3_font-family);
        font-size: var(--DO_NOT_USE_bui_large_font_display_3_font-size);
        font-weight: var(--DO_NOT_USE_bui_large_font_display_3_font-weight);
        line-height: var(--DO_NOT_USE_bui_large_font_display_3_line-height);
    }
}

@media (min-width: 526px) {
    .tagline {
        font-family: var(--DO_NOT_USE_bui_medium_font_display_3_font-family);
        font-size: var(--DO_NOT_USE_bui_medium_font_display_3_font-size);
        font-weight: var(--DO_NOT_USE_bui_medium_font_display_3_font-weight);
        line-height: var(--DO_NOT_USE_bui_medium_font_display_3_line-height);
    }
}

.offer-limit {
    font-family: Avenir Next, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    margin-bottom: 0;
    margin-top: var(--bui_spacing_1x);
    font-family: var(--DO_NOT_USE_bui_small_font_featured_2_font-family);
    font-size: var(--DO_NOT_USE_bui_small_font_featured_2_font-size);
    font-weight: var(--DO_NOT_USE_bui_small_font_featured_2_font-weight);
    line-height: var(--DO_NOT_USE_bui_small_font_featured_2_line-height);
    color: white;
}

@media (min-width: 1024px) {
    .offer-limit {
        font-family: var(--DO_NOT_USE_bui_large_font_featured_2_font-family);
        font-size: var(--DO_NOT_USE_bui_large_font_featured_2_font-size);
        font-weight: var(--DO_NOT_USE_bui_large_font_featured_2_font-weight);
        line-height: var(--DO_NOT_USE_bui_large_font_featured_2_line-height);
    }
}

@media (min-width: 526px) {
    .offer-limit {
        font-family: var(--DO_NOT_USE_bui_medium_font_featured_2_font-family);
        font-size: var(--DO_NOT_USE_bui_medium_font_featured_2_font-size);
        font-weight: var(--DO_NOT_USE_bui_medium_font_featured_2_font-weight);
        line-height: var(--DO_NOT_USE_bui_medium_font_featured_2_line-height);
    }
}

.place-title {
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
}

.place-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

@media (max-width: 600px) {
    .place-details {
        flex-direction: column;
    }

    .place-title {
        width: 100%;
        font-size: 15px;
    }
}

.place-info {
    word-break: break-all;
}

.place-info span {
    font-size: 14px;
    font-weight: 400;
    margin: 10px 1px;
}

.place-info a {
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-decoration-color: #000;
}

.social-share {
    display: flex;
}

.social-share-btn {
    display: flex;
    margin: 0 5px 0 0;
    background-color: transparent;
    border: none;
}

.social-share-btn svg {
    margin-top: 4px;
    margin-right: 10px;
}

.social-share-btn span {
    text-decoration: underline;
    font-weight: 500;
}

.gallery {
    display: block;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.gallery-img {
    width: 100%;
}

.gallery-img img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin: 5px 0;
}

.gallery_large-img {
    width: 100%;
}

.gallery_large-img img {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin: 5px 0;
    width: 100%;
    height: 410px;
}

.top-right-rounded img {
    border-top-right-radius: 10px;
}

.bottom-right-rounded img {
    border-bottom-right-radius: 10px;
}

.open-gallery_btn {
    font-size: 16px;
    display: flex;
    bottom: 20px;
    width: 170px !important;
    position: absolute;
    padding: 5px 10px;
    background-color: #f7f7f7;
    font-weight: 500;
    right: 40px;
    border-radius: 10px;
}

.open-gallery_btn svg {
    margin-top: 5px;
    margin-right: 5px;
}

.gallery-responsive {
    display: none;
}

@media (max-width:600px) {
    .fixed-card {
        position: relative;
        z-index: 0;
    }

    .gallery {
        display: none;
    }

    .gallery-responsive {
        display: block;
    }
}

.place-icon {
    width: 20%;
}

.place-icon img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.place-description {
    display: flex;
    margin: 10px 0;
}

.description-point {
    color: black;
    margin-left: 20px;
}

.description-point p {
    font-weight: 600;
    font-size: 16px;
}

.description-point span {
    font-size: 14px;
    font-weight: 300;
}

.fixed-card {
    position: relative;
}

.sticky {
    position: fixed;
    top: 0;
    right: 392px;
}
@media (max-width:1400px) {
.sticky {
    right: 150px;
}
}

.pricing-card {
    z-index: 5;
    width: 450px;
    margin: auto;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

.price {
    display: flex;
}

.price p {
    font-size: 20px;
    font-weight: 700;
}

.price span {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
}

.checking-date {
    display: flex;
    font-size: 14px;
}

.booking_date-label {
    width: 50%;
    padding: 10px 20px;
    font-weight: 500;
}

.guests {
    border: 1px solid rgba(128, 128, 128, 0.332);
}

.guest-info span,
.guest-info a {
    font-size: 12px;
}

.dropdown-menu {
    width: 300px;
}

.number_of-guest {
    display: flex;
}

.number_of-guest span {
    padding: 10px;
    height: 20px;
}

.check-availibility_btn {
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    width: 100%;
    margin: 10px 0;
    padding: 10px 5px;
    background: var(--dls19-brand-gradient, linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%)) !important;
}

.review-info span,
.review-info a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.ratings {
    display: block;
}

.ratings-responsive {
    display: none;
}

.progress {
    width: 200px !important;
    margin-top: 10px !important;
    height: 5px !important;
}


.avatar-pic img {
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.place-details-point {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media (max-width:600px) {
    .pricing-card {
        width: 300px;
    }

    .sticky {
        position: relative;
        margin: auto;
        right: 0;
    }

    .place-details-point {
        flex-direction: column;
    }
}

.logo {
    width: 100%;
    margin-bottom: 20px;
}

.logo img {
    width: 150px;
}

.booking-info_details span {
    font-size: 15px;
}

.about-details_full {
    font-size: 16px;
    line-height: 24px;
    word-break: break-word;
}

.date-picker {
    position: absolute;
    width: 100%;
}

.date-picker-wrapper {
    background-color: white !important;
    border: none !important;
}

.date-picker-wrapper .month-wrapper {
    border: none !important;
}

@media (max-width:600px) {
    .date-picker-wrapper .month-wrapper {
        width: 100% !important;
    }
}

.date-picker-wrapper .month-name {
    color: black !important;
    font-weight: 700 !important;
}

.date-picker-wrapper .month-wrapper table .week-name {
    color: black !important;
    font-weight: 500 !important;
}

.date-picker-wrapper .month-wrapper table .day {
    color: #ccc !important;
    width: 30px !important;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 400px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 400px;
}

.gmap_iframe {
    width: 100% !important;
    height: 400px !important;
}

footer .footer {
    width: 100%;
    background: #F7FAFC;
    padding-top: 40px;
}

.offer {
    width: 100%;
    margin-bottom: 40px;
}

.offer-box {
    border: 1px solid #EDF2F7;
    background: #ffffff;
    box-shadow: 0px 8px 8px rgb(0 0 0 / 3%);
    border-radius: 16px;
    margin: 0 auto;
}

.offer-box svg {
    margin: 21px 0 21px 24px;
}

.offer-type {
    margin: 19px 0 0 29px;
}

.offer-type p {
    font-size: 16px;
    font-family: Mt;
    font-weight: 600;
    line-height: 20px;
}

.offer-type span {
    font-size: 14px;
    margin-top: 6px;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 18px;
}

form.sign-up {
    margin: 30px 20px;
    display: flex;
    align-items: center;
}


.input-number {
    color: #1a202c;
    width: 350px;
    height: 44px;
    z-index: 2;
    font-size: 16px;
    background: #EDF2F7;
    font-weight: 600;
    line-height: 19px;
    padding-left: 12px;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-number input {
    font: inherit;
    color: currentColor;
    width: 120px;
    border: 0;
    height: 1.1876em;
    margin: 0 40px 0 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}


.btn-red {
    color: rgb(253, 253, 253);
    width: 101px;
    border: none;
    height: 44px;
    margin: 0px;
    padding: 6px 8px;
    font-size: 16px;
    min-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    text-transform: none;
    background-color: rgb(255, 51, 102);
}

.footer-main {
    width: 100%;
    margin: 0 auto;
}

.footer-main .logo-footer {
    width: 165px;
    height: 44px;
}

.footer-informations {
    width: calc(100% + 24px);
    margin: -12px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.footer-info-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    margin-bottom: 8px;
}

.footer-info {
    color: #4A5568;
    font-size: 12px;
    line-height: 24px;
}

.partner-logos {
    width: 100%;
    display: flex;
    margin-top: 15px;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-link {
    text-decoration: none;
    color: #4A5568;
    margin: 0;
}

.footer-link span {
    font-size: 12px;
    line-height: 24px;
}

.footer-end {
    width: 100%;
    background: #F7FAFC;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer-end-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.related-service-logos {
    margin: 12px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-responsive-btn {
    display: none !important;
}

@media (max-width:600px) {
    .navigation {
        background-color: var(--bui_color_brand_primary_background_dynamic) !important;
    }

    .nav-responsive-btn {
        display: block !important;
    }

    .navbar-collapse {
        background-color: white !important;
    }

    .nav-link {
        color: black !important;
    }

    .bg-overlay {
        background: none;
    }
}

.icon-nav {
    width: 30px;
    margin-left: 3px;
}

.icon-nav svg {
    height: 25px;
}